/* forget password , update password and reset password updated */
.password_title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.password-btn {
  background-color: #0e8b53;
  border-color: #8b8683;
  color: white;
  margin-top: 2.5rem;
  box-shadow: 2px 2px 10px rgb(183, 170, 170);
  border-radius: 15px;
}

.password-btn:hover {
  background-color: rgba(1, 38, 7, 0.177);
  border-color: rgb(2, 58, 11);
  color: rgb(2, 58, 11);
  font-weight: bold;
}
