@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600;1,700&family=Poppins&family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-position: center;
  height: auto;
}
